/* Стилі для html*/

/* колір основного тексту  #434455 */
/* колір другорядного тексту #2E2F42 */
/* білий текст #FFFFFF */
/* акцент #4D5AE5 */
/* колір фону макету там де контакти #FFFFFF */
/* колір фону #F4F4FD */
/* колір фону там де кнопка/футер #2E2F42 */
/* другорядний колір фону макету/фотокартки #F4F4FD */
/* лого #F4F4FD */
/* лого #4D5AE5 */
/* лого #2E2F42 */
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --text-white-color: #FFFFFF;
    --secondary-fond-color: #2E2F42;
}

body {
background-color: #212121;
color:#2E2F42;
font-family: Roboto, sans-serif;
}

.logo {
color: #212121;
}
.accent {
color:#4D5AE5; 
}


/* Site-nav*/
.site-nav .link{
    color: var(--secondary-fond-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color)
}
.site-nav .link{
    color: var(--secondary-fond-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: #4D5AE5;
}

 .test-link {
    color:#757575;
 }   
.test-link :hover {
 color:#4D5AE5;
}
 
.site-nav .link.current{
    color: #4D5AE5;
}


 /* Hero */
.hero-title{
    color:#FFFFFF;
 
}
/* Section */
.section-title {
    color:#212121;
}

 /* Examples */
.work-list .title{
    color: var(--primary-text-color) ;
}

 /* Button */
 .button {
    font-size: 16px;
    padding: 32px;
    font-family: inherit;
 }
  .button.primary {
    color:#FFFFFF;
    background-color:#4D5AE5;
    Text style:Header
    Font family:Roboto
    Font size: 56px;
    Line height: 60px;
    Line height: 91%;
    text-align: center;
 }

 /* Footer */
 .logo {
    color: #212121;
    }
    .accent{
    color: #4D5AE5; 
    }

 .text{
    color:#E7E9FC;
  }  



               /* Стилі для portfolio */

/* колір основного тексту  #212121 */
/* колір другорядного тексту #757575 */
/* колір фону макету #F5F5F5 */
/* другорядний колір макету #2F303A */
/* білий текст #FFFFFF */
/* акцент #2196F3 */
/* лого #000000 */
/* лого #2196F3 */




body {
    background-color: #F5F5F5;
    color: #434455;
    }
    .logo {
    color: #212121;
 }
  .accent{
color: #2196F3;
}
   /* Site nav*/

    .site-nav .link {
        color: var(--secondary-fond-color);
    }

  /* Button */

 .button {
    font-size: 16px;
    padding: 38px 73px;
 } 

 .button.primary {
    color: #FFFFFF;
    background-color: #2196F3;
 }
 
.button .link {  
    font-size: 16px;
    padding: 38px 125px;
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: #212121;
    background-color: #2196F3;
} 

/* Section */
.section-title {
    color:#212121
}
.work-list{
    color: #757575;
}
 
/* Footer */
.logo {
    color: #4D5AE5; 
    }
.test-link{
color:#FFFFFF
}


















































